<launch>
	<node name="turtleSim" pkg= "turtlesim" type="turtlesim_node" output="screen">
	</node>
	
	<node name="Turtle_Control" pkg= "Final0139" type="Turtle_Control.py" output="screen">
	</node>
	
	<node name="MotionLog" pkg= "Final0139" type="MotionLog.py" output="screen">
	</node>
	
	<node name="arduino_command" pkg= "Final0139" type="arduino_command.py" output="screen">
	</node>
	
    	<node pkg="Final0139" type="rosserial_arduino" name="serial_node" output="screen">
        <param name="serial_port" type="str" value="/dev/ttyACM1"/> 
        <param name="baud_rate" type="int" value="57600"/> 
       </node>
</launch>


